.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mode-button {
    float: right;
    margin-right: 10px;
    color: white !important;
    padding-right: 5px;
}

.ui.slider.checkbox input:checked ~ label {
    color:white !important;
}