.footer-light{
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background-color: white;
}

.footer-dark{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
}

.mode-button {
    float: right;
    margin-right: 10px;
    color: white !important;
    padding-right: 5px;
}
