.page-layout {
    color: white;
    text-align: center;
    background-color: black;
    height: 100vh;
}

.search-layout {
    text-align: center;
    color: white;
    background-color: black;
}

.accordion-layout {
    text-align: right;
    padding-top: 100px;
}